body{
    width: 800px;
    height: 500px;
    text-align: center;
    border-style: solid;
}
header{

    background-color:darkslateblue;
    
    width: 100%;
    height: 10%;
   
}
#truYum{
    font-size: 20px;
    float: left;
    color: aliceblue;
    margin-left: 30px;
    padding-top: 15px;
    
}
img{
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 10px;
   }

#Menu{ 
    color: aliceblue;
    float: right;
    margin-right: 30px ;
    padding-top: 15px;
}
h2{
    text-align: left;
    margin-left: 40px;
}
table{
    margin-left: 40px;
    padding-top: 20px;
    
    
}
td{
    text-align: left;
    padding-right: 20px;
}
tr{
    padding-bottom: 8px;
}
label{
    text-align: left;
}
article{
    height: 76%;
}
footer{
    
    width: 100%;
    height: 10%;
    background-color: darkgray;
    
    text-align: left;
}
button{
    width: 100px;
    height: 35px;
    background-color: blueviolet;
    color: wheat;
    float: left;
    margin-top: 20px;
    margin-left: 40px;
}